.details {
	margin-bottom: 2rem;
	img {
		max-width: 200px;
		height: auto;
	}
}

.detailsWrapper {
	color: white;
}

.matchRow {
	align-items: center;
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
	border-bottom: 1px #4d555d solid;
}

.active {
	font-weight: bold;
}

a {
	color: inherit;
}
