.details {
	margin-bottom: 2rem;
	img {
		max-width: 200px;
		height: auto;
	}
}

.detailsWrapper {
	color: white;
}

.matchRow {
	align-items: center;
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
	border-bottom: 1px #4d555d solid;

	a {
		color: inherit;
	}
}

.active {
	font-weight: bold;
}

a {
	color: inherit;
}

.resultIcon {
	background: green;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 3px;
	font-size: 12px;
}
.lose {
	background: #af0505;
}

.draw {
	background: #d27d00;
}
